@import url("https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* primary */
  --green-200: hsl(148, 38%, 91%);
  --green-600: hsl(169, 82%, 27%);
  --dark-green: hsl(171, 83%, 14%);
  --red: hsl(0, 66%, 54%);
  /* neutral */
  --white: hsl(0, 0%, 100%);
  --grey-500: hsl(186, 15%, 59%);
  --grey-900: hsl(187, 24%, 22%);
}

body {
  font-family: "Karla", sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: var(--green-200);
  place-content: center;
  padding: 130px 0;
  position: relative;
}

.form {
  background-color: var(--white);
  width: 90%;
  max-width: 740px;
  margin: 0 auto;
  padding: 30px 25px;
  border-radius: 20px;
  display: grid;
  gap: 35px;
}

.form__header {
  font-size: 30px;
  margin-bottom: 5px;
}

.full-name__container {
  display: grid;
  gap: 35px;
}

.input-label__container {
  display: grid;
  gap: 10px;
  position: relative;
}

.label {
  font-size: 14px;
  color: var(--grey-900);
  font-weight: bold;
}

.asterisk {
  color: var(--green-600);
  font-weight: bold;
  padding-left: 5px;
}

.input-field {
  border: none;
  border-radius: 5px;
  outline: 1px solid var(--grey-500);
  padding: 15px 25px;
  color: var(--grey-900);
  font-size: 16px;
}

.error-text {
  color: var(--red);
  font-size: 14px;
  position: absolute;
  bottom: -20px;
  left: 0;
}

.error-text--two-lines {
  bottom: -35px;
}

.error-outline {
  outline: 1px solid var(--red);
}

.input-field:focus {
  outline: 1px solid var(--green-600);
}

.input-field--query {
  display: flex;
  gap: 15px;
  align-items: center;
  cursor: pointer;
}

.input-field--query:has(.radio-input:checked) {
  background-color: var(--green-200);
}

.input-field--textarea {
  min-height: 240px;
}

.query__container {
  border: none;
  position: relative;
}

.query-options__container {
  display: grid;
  gap: 15px;
  margin-top: 10px;
}

.radio-input {
  appearance: none;
  -webkit-appearance: none;
  border-radius: 50%;
  padding: 5px;
  outline: 2px solid var(--grey-500);
  border: 3px solid transparent;
}

.radio-input:checked {
  background: var(--green-600);
  outline: 2px solid var(--green-600);
  border: 3px solid var(--green-200);
}

.radio-input:checked:hover {
  background: var(--dark-green);
  outline: 2px solid var(--dark-green);
  border: 3px solid var(--green-200);
}

.checkbox-input {
  appearance: none;
  -webkit-appearance: none;
  width: 17px;
  height: 17px;
  border: 1.5px solid var(--grey-500);
  cursor: pointer;
}

.checkbox-input:checked {
  background-color: var(--green-600);
  border: 1.5px solid var(--green-600);
  position: relative;
}

.checkbox-input:checked:before {
  content: "";
  position: absolute;
  right: 5px;
  top: 1px;
  border: solid var(--green-200);
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
  width: 5px;
  height: 10px;
}

.checkbox-input:checked:hover {
  background-color: var(--dark-green);
  border: 1.5px solid var(--dark-green);
}

.consent-container {
  display: flex;
  gap: 18px;
  position: relative;
  margin-bottom: 15px;
}

.consent-text {
  font-size: 14px;
}

.submit-button {
  height: 60px;
  border-radius: 8px;
  border: none;
  background-color: var(--green-600);
  color: var(--white);
  letter-spacing: 2px;
  cursor: pointer;
}

.submit-button:hover {
  background-color: var(--dark-green);
}

.success-message {
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--dark-green);
  padding: 30px;
  width: 100%;
  max-width: 500px;
  border-radius: 10px;
  color: var(--green-200);
}

.success-message--visible {
  display: block;
}

.success-message--hidden {
  display: none;
}

.success-header {
  font-size: 18px;
  margin-bottom: 10px;
}

.success-text {
  font-size: 14px;
}

@media (min-width: 470px) {
  .error-text--two-lines {
    bottom: -20px;
  }
}

@media (min-width: 800px) {
  .full-name__container {
    grid-template-columns: 1fr 1fr;
    gap: 15px;
  }

  .query-options__container {
    grid-template-columns: 1fr 1fr;
  }

  .input-field--textarea {
    min-height: 100px;
  }
}
